<!-- Author: Tan Guan Ying -->

<html lang="en">
    <script src="../header2.js"></script>
    <script src="./js/loadCategoryTable.js"></script>
    <body>
        <div id="wrapper">
            <script src="../menu1.js"></script>

            <div id="page-wrapper">
                <div class="container-fluid">

                    <!-- Add body content -->
                    <div class="container-fluid">
                        <div class="col-lg-12">
                            <h1 class="page-header">Showroom Layout Management</h1>
                        </div>
                    </div>
                    <div class = "row featured-boxes">
                        <div class="col-md-12">
                            <div class="row">

                                <!-- Manage showroom layout -->
                                <div class="col-md-5">
                                    <a href="showroomManagement.html" style="text-decoration:none; color:inherit;">
                                    <div class="featured-box featured-box-primary">
                                        <div class="box-content text-center">
                                            <i class="icon icon-home icon-featured"></i>
                                            <h4>Total Showrooms</h4>
                                            <h2 id="showroomCount">0</h2>
                                            <p class="text-muted">Manage the avaliable showroom designs for the Public.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modify categories -->
                                <div class="col-md-5">
                                    <a href="showroomCategoryManagement.html" style="text-decoration:none; color:inherit;">
                                    <div class="featured-box featured-box-secundary">
                                        <div class="box-content text-center">
                                            <i class="icon icon-th-large icon-featured"></i>
                                            <h4>Showroom Categories</h4>
                                            <h2 id = "categoryCount">0</h2>
                                            <p class="text-muted">View and manage the current categories for showrooms.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>
