<!-- Author: Tan Guan Ying -->

<html lang="en">
    <head>
        <script src="../header2.js"></script>
        <script src="./js/loadCategoryTable.js"></script>
        <script src="./js/addShowroom.js"></script>
        <script src="./js/loadShowroom.js"></script>

        <link rel="stylesheet" href = "./css/showroomManagement.css">
    </head>

    <body>
        <div id="wrapper">
            <script src="../menu1.js"></script>

            <div id="page-wrapper">
                <div class="container-fluid">

                    <!-- Add body content -->
                    <div class="container-fluid">
                        <div class="col-lg-12">
                            <h1 class="page-header">Showroom Design</h1>
                        </div>
                    </div>
                    
                    <!-- Area to store saved built showroom -->
                    <div class = "container-showroom">
                        <div id = "showroomList" class = "row"></div>
                    </div>
                    
                    <!-- Button to add showroom -->
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <a href = "./showroomAddShowroom.html" class="btn-add-showroom">
                                <i class="icon icon-plus"></i> Add Showroom Design
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>
