<!-- Author: Tan Guan Ying -->

<html lang="en">
    <head>
        <script src="../header2.js"></script>
        <script src="./js/loadCategoryTable.js"></script>
        <script src="./js/addShowroom.js"></script>

        <link rel="stylesheet" href = "./css/showroomManagement.css">
    </head>

    <body>
        <div id="wrapper">
            <script src="../menu1.js"></script>

            <div id="page-wrapper">
                <div class="container-fluid">

                    <!-- Add body content -->
                    <div class="container-fluid">
                        <div class="col-lg-12">
                            <h1 class="page-header">Create Showroom</h1>
                        </div>
                    </div>

                    <!-- Breadcrumb -->
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="showroomManagement.html">Showroom Management</a>
                                </li>
                                <li class="active">
                                    Add Showroom
                                </li>
                            </ol>
                        </div>
                    </div>
                    
                    <!-- Area to custom build showroom FORM -->
                    <!--
                        TABLE INVOLVED:
                        showroom
                        showroom_furniture (junction)
                        showroom_category

                        furnitureentity (already existed)

                        STEPS TO DO:
                        0: Get all furnitures in furnitureentity
                        1: Add furniture by pressing add button. The modal come out to select which furniture to connect
                        2: Then add it in a widget

                        3: Upload showroom layout image
                        4: drag from widget to the main showroom area

                        5: can remove or edit furniture
                    -->
                    
                <div class="showroom-container">
                    
                    <!-- Form -->
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" id="addForm" method="POST" action="/api/addShowroom" onsubmit="return false;">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Showroom Name</label>
                                        <input class="form-control" name="name" type="text" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        <input class="form-control" name="description" type="text" required>
                                    </div>

                                    <div class = "form-group">
                                        <label>Category</label>
                                        <select class = "form-control" id = "categorySelect" name = "categoryId" required>
                                            <option value = "">Select Category Associated</option>
                                        </select>
                                    </div>

                                    <div class = "form-group">
                                        <label>Cover Image</label>
                                        <input type="file" name="coverfile" id="imgfile" accept="image/*" required>
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Add Showroom</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>


                </div>
            </div>

        </div>
    </body>
</html>
