<!-- Author: Javier tan jia ye -->
<html lang="en">
    <head>
        <script src="../header2.js"></script>
        <script src="../A7/js/editShowroomFurniture.js"></script>
        <link rel="stylesheet" href = "./css/showroomEditFurniture.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        <div id="wrapper">
            <script src="../menu1.js"></script>

            <div id="page-wrapper">
                <div class="container-fluid">

                    <!-- Title -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Showroom Furniture edit page</h1>
                        </div>
                    </div>

                    <!-- Breadcrumb -->
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="showroomLayoutManagement.html">Showroom Management</a>
                                </li>
                                <li class="active">
                                    Edit Showroom Furniture
                                </li>
                            </ol>
                        </div>
                    </div>


                    <!-- add furniture popup form -->
                    <div id="popup" class="popup">
                        <div class="popup-content">
                            <span class="close" onclick="closePopup()">&times;</span>
                            <h2>Add furniture</h2>                      <!-- target="_blank" opens link in new tab-->
                            <a href="http://localhost:8081/B/SG/virtualStore.html" target="_blank">
                                Open furniture catalog in a new tab to browse for furniture.
                            </a>

                            <br><br>
                            
                            <form id="add-furniture-form">
                                <label for="furniture-name">Enter Furniture Name:</label><br>
                                <input type="text" id="furniture-name" name="furniture-name" required><br><br>
                                <input type="submit" class="btn btn-danger btn-add">
                            </form>
                        </div>
                    </div>




                    <div class="showroom" id="showroom">
                        <img id="showroom-img" src="" alt="" style="width: 100%;border-radius: 1rem;">


                    </div>
                    
                    <br><br><br>
                    
                    <div class="furniture" id="furniture-list">
                        <br>
                    </div>

                    <br><br><br><br><br>
                    <br><br><br><br><br>
                    <br><br><br><br><br>







                    

                </div>
            </div>
        </div>
    </body>
</html>
