<script src="../checkCountry.js" ></script>
<html>
    <head>
        <link rel = "stylesheet" href = "../css/showroom/showroomHome.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

        <script src="../js/populateCategoryShowdown.js" defer></script>
        <script src="../../header.js"></script>
    </head>

    <body>
        <script src="menu2.js"></script>

        <div role="main" class="main">

            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Explore Our Virtual Showroom</h2>
                        </div>
                    </div>
                </div>
            </section>

            <!-- New showroom content -->
            <div class="showroom-controls">

                <!-- search bar with filter button -->
                <div class = "search-bar">
                    <span class = "filter-icon">
                        <i class = "bi bi-funnel"></i>
                    </span>

                    <input type = "text" placeholder = "Search Showrooms...">

                    <button class = "search-icon">
                        <i class = "bi bi-search"></i>
                    </button>
                </div>

                <!-- category dropdown by GET dynamic-->
                <div class = "category-dropdown"></div>

            </div>

            <!-- carousel showroom to display featured ones-->
            <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active c-item">
                        <img src="#" class="d-block w-100 c-img" alt="Slide 1">
                    </div>

                    <div class="carousel-item c-item">
                        <img src="#" class="d-block w-100 c-img" alt="Slide 2">
                    </div>
                </div>

                <div class="carousel-item c-item">
                    <img src="#" class="d-block w-100 c-img" alt="Slide 3">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
            
        </div>

        <script src="../footer.js"></script>
    </body>
</html>