<script src="../checkCountry.js" ></script>
<html>
    <head>
        <link rel = "stylesheet" href = "../css/showroom/showroomHome.css">
        <link rel="stylesheet" href = "../css/showroom/carousel.css">
        <link rel="stylesheet" href = "../css/showroom/filterMenu.css">
        <link rel="stylesheet" href = "../css/showroom/showroomDetail.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- <script src="../js/populateCategoryShowdown.js" defer></script> -->
        <!-- <script src="../js/carousel.js" defer></script> -->
        <!-- <script src="../js/loadPublicShowroom.js" defer></script> -->
        <!-- <script src="../js/filterMenu.js" defer></script> -->
        <script src="../js/loadShowroomDetails.js" defer></script>
        <script src="../../header.js"></script>
    </head>

    <body>
        <script src="menu2.js"></script>

        <div role="main" class="main">

            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Showroom Name -->
                            <h2 id = "showroomName">PLACEHOLDER SHOWROOM NAME</h2>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Showroom Detail -->
            <div class = "main-showcase">
                <div class = "container">
                    <div class = "row showroom-layout">
                        <!-- Display the furnitures images inside that showroom -->
                        <div class = "col-md-3 col-lg-2">
                            <div id = "furniture-list" class = "furniture-list"></div>
                        </div>

                        <!-- Main showroom image -->
                        <div class = "col-md-9 col-lg-10">
                            <div id = "showroom-image" class = "showroom-image"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Other showrooms of that same category (LATER DO)-->
            <div id = "other-showrooms" class = "other-showrooms"></div>

        <script src="../footer.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>